name: Build
permissions:
  contents: read # Default top-level permission

on:
  workflow_dispatch:

jobs:
  build-apple:
    runs-on: macos-latest
    environment: Maven Central

    # Add permissions for the GITHUB_TOKEN for this specific job
    permissions:
      contents: read # Required for actions/checkout
      packages: write # Required to publish to GitHub Packages

    steps:
      - name: Checkout Project
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: corretto
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Setup Rust & cargo
        run: rustup target add aarch64-apple-ios aarch64-apple-darwin x86_64-apple-darwin

      - name: Setup Cache
        uses: actions/cache@v4
        with:
          path: |
            /home/runner/.konan
            sqlx4k-mysql/src/rust/target
            sqlx4k-postgres/src/rust/target
            sqlx4k-sqlite/src/rust/target
          key: rust-lib-cache-apple

      - name: Create properties.local
        run: |
          echo "githubActor=${{ github.actor }}" > properties.local
          echo "githubToken=${{ secrets.GITHUB_TOKEN }}" >> properties.local
        # The GITHUB_TOKEN is automatically provided by GitHub Actions
        # and gets its permissions from the 'permissions' block above.

      - name: Gradle Build
        run: ./gradlew publishAllPublicationsToGithubRepository